user page {{this}}

<a href="/#/">home</a>

<br>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
    <a href="#" class="waves-effect btn-flat modal-close">Agree</a>
</div>
