<h1>Overview</h1>

<a class="waves-effect waves-light btn">Stuff</a>

<a class="waves-effect waves-light btn-large" href="#">Wave</a>

<table class="hoverable">
    <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Item Name</th>
        <th data-field="price">Item Price</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
    </tr>
    <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
    </tr>
    <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
    </tr>
    </tbody>
</table>

<ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one<span class="badge">1</span></a></li>
    <li><a href="#!">two<span class="new badge">1</span></a></li>
    <li><a href="#!">three</a></li>
</ul>
<a class="btn dropdown-button" data-activates="dropdown2">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a>

<p>
    <input name="group1" type="radio" id="test1" />
    <label for="test1">Red</label>
</p>
<p>
    <input name="group1" type="radio" id="test2" />
    <label for="test2">Yellow</label>
</p>
<p>
    <input type="checkbox" id="test5" />
    <label for="test5">Red</label>
</p>
<p>
    <input type="checkbox" id="test6" checked="checked" />
    <label for="test6">Yellow</label>
</p>
