<ul class="nav nav-sidebar">
    <li><a href="#/">Overview</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/user">User</a></li>
    <li><a href="#/form">Form</a></li>
</ul>