<form id="form-specs" class="col s12">
    <script type="application/javascript">
        $('#form-specs').on('submit', function(e) {
            e.preventDefault();

            console.log('submit');

            var submit = $(this).find('#submit');

            var data = {};
            $('.form-control').each(function() {
                var id = $(this).attr('id');
                var val = $(this).val();
                data[id] = val;
                console.log(id, val);
            });

            $.ajax({
                url: '/post',
                type: 'post',
                data: JSON.stringify(data),
                beforeSend: function() {
                    submit.attr('disabled', true);
                    console.log('beforeSend');
                },
                complete: function() {
                    submit.attr('disabled', false);
                    console.log('complete');
                },
                success: function() {
                    console.log('success');
                },
                error: function() {
                    console.log('error');
                }
            });

            return false;
        });
    </script>
    {{form}}
    <button id="submit" type="submit" class="btn waves-effect waves-light">
        OK
        <i class="mdi-content-send right"></i>
    </button>
</form>