<div class="input-field col s12">
    <label>{{label}}</label>
    <select>
        <option value="" disabled selected>Choose your option</option>
        {{#each options}}
            <option value="{{value}}">{{label}}</option>
        {{/each}}
    </select>
</div>

<script type="application/javascript">
    $('select').material_select();
</script>
