<div class="select">
    <h5>{{label}}</h5>
    <select id="{{id}}" class="form-control">
        {{#each options}}
            <option value="{{value}}">{{label}}</option>
        {{/each}}
    </select>
</div>
